.btn-primary {
    background-color: #e69636 !important;
    border-color: #e69636 !important;
}

.upload-button-wrapper {
    background-color: #e69636 !important;
    border-color: #e69636 !important;
}

.vh-center-outer-wrapper.drop-area-fake {
    border-radius: 0px;
    border-color: #cccccc;
    border-radius: 1px;
}

.drop-area-fake .caption {
    color: #cccccc !important;
}
/* disabled="disabled" */

#Baselayer .selected {
    background-color: #1a4435;
}

.has-feedback .input-group-text {
    background-color: #fcf3e8;
}

#root .nav-link {
    /* color: #333333 !important; */
}
#root .nav-link:hover {
    background-color: #333333 !important;
    color: white important;
}

.portal-title .tabable:hover {
    background-color: white !important;
}

@keyframes fade {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#portal-logo {
    animation: fade 2s infinite;
}

.right-bar:first-child {
    bottom: 40px;
    position: absolute;
}

/*  layer accordions */
#layer-accordions {
    width: 100%; /* Or max-width for a specific size */
    border-top: 3px solid #000; /* Top border as in the image */
    font-family: Arial, sans-serif; /* Example font */
}

#layer-accordions input {
    display: none;
}

#layer-accordions label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f2f2f2; /* Light grey background */
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

#layer-accordions label:hover {
    background-color: #edf8f4; /* Slightly darker on hover */
}

.accordion-header .header-title {
    font-weight: bold;
}

.accordion-header .header-icon {
    font-size: 1.5em;
    transform: rotate(0); /* Arrow pointing down */
    transition: transform 0.3s;
}

#layer-accordions input:checked + label .header-icon {
    transform: rotate(180deg); /* Arrow pointing up when section is open */
}

#layer-accordions .content {
    display: none;
    padding: 1em;
    background-color: #edf8f4; /* White background */
    margin-bottom: 2px;
}

#layer-accordions input:checked + label + .content {
    display: block;
}

/* Style for the link inside the content */
#layer-accordions .content a {
    color: #005bac; /* Blue color for the link */
    text-decoration: none;
}

