#title-text {
    display: none !important;
    width: 0px;
}

#root > li:last-child {
    display: none !important;
}

.btn-primary {
    background-color: #e69636 !important;
    border-color: #e69636 !important;
}

.upload-button-wrapper {
    background-color: #e69636 !important;
    border-color: #e69636 !important;
}

.vh-center-outer-wrapper.drop-area-fake {
    border-radius: 0px;
    border-color: #cccccc;
    border-radius: 1px;
}

.drop-area-fake .caption {
    color: #cccccc !important;
}
/* disabled="disabled" */

#Baselayer .selected {
    background-color: #1a4435;
}

.has-feedback .input-group-text {
    background-color: #fcf3e8;
}

#root .nav-link {
    /* color: #333333 !important; */
}
#root .nav-link:hover {
    background-color: #333333 !important;
    color: white important;
}

.portal-title .tabable:hover {
    background-color: white !important;
}

@keyframes fade {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#portal-logo {
    animation: fade 2s infinite;
}

.right-bar:first-child {
    bottom: 40px;
    position: absolute;
}

/*  layer accordions */
#layer-accordions {
    width: 100%; /* Or max-width for a specific size */
}

#layer-accordions input {
    display: none;
}

#layer-accordions label {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #edf8f4;
    /* border-bottom: 1px solid #ddd; */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 3px;
}

#layer-accordions label:hover {
    background-color: #edf8f4; /* Slightly darker on hover */
}

.accordion-header .header-title {
    font-weight: bold;
}

.accordion-header .header-icon {
    font-size: 1.5em;
    transform: rotate(0); /* Arrow pointing down */
    transition: transform 0.3s;
    margin-right: 3px;
}

#layer-accordions input:checked + label .header-icon {
    transform: rotate(180deg); /* Arrow pointing up when section is open */
}

#layer-accordions .content {
    display: none;
    padding: 1em;
    background-color: #edf8f4; /* White background */
    margin-bottom: 2px;
}

#layer-accordions input:checked + label + .content {
    display: block;
}

/* Style for the link inside the content */
/* #layer-accordions .content a {
    text-decoration: none;
} */

/* TABs */

#layer-info-title {
    padding: 1em;
    background-color: #f2f2f2;
    margin-top: 3px;
    font-weight: bold;
}

.vue-tool-content-body .nav.nav-tabs {
    margin-top: 5px;
    margin-bottom: 5px;
    --bs-nav-tabs-border-width: 0px;
}

.vue-tool-content-body .nav .nav-item {
    --bs-nav-tabs-border-width: 0px;
}

.vue-tool-content-body .nav .nav-link {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #cccccc;
}

.vue-tool-content-body .nav .nav-item .active {
    background-color: #1a4435;
    color: white !important;
}

