#title-text {
    display: none !important;
    width: 0px;
}

#root > li:last-child {
    display: none !important;
}

.btn-primary {
    background-color: #e69636 !important;
    border-color: #e69636 !important;
}

.upload-button-wrapper {
    background-color: #e69636 !important;
    border-color: #e69636 !important;
}

.vh-center-outer-wrapper.drop-area-fake {
    border-radius: 0px;
    border-color: #cccccc;
    border-radius: 1px;
}

.drop-area-fake .caption {
    color: #cccccc !important;
}
/* disabled="disabled" */

.has-feedback .input-group-text {
    background-color: #fcf3e8;
}

#root .nav-link {
    /* color: #333333 !important; */
}
#root .nav-link:hover {
    background-color: #333333 !important;
    color: white important;
}

.portal-title .tabable:hover {
    background-color: white !important;
}

@keyframes fade {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#portal-logo {
    animation: fade 2s infinite;
}

.elements-positioned-over-map .right-bar.controls {
    bottom: 40px;
    position: absolute;
    position: fixed;
}

/* hide the luftbilder folder */
#Lufbilder1 {
    display: none !important;
}

#Overlayer .layer-item .bi-circle {
    margin-left: 22px;
}

#Overlayer .layer-item .bi-check2-circle {
    margin-left: 22px;
}

/* Luftbilder slider  */
.slider-track {
    /* display: none; */
}

.slider-handle {
    background-image: none;
    background-color: white;
    border: 5px solid #e69636;
}

.slider-tick {
    background-image: none;
    background-color: white;
    border: 1px solid black;
}

.slider-tick.in-selection {
    background-image: none;
    background-color: #e69636;
    border: none;
}

.slider-selection.tick-slider-selection {
    background-image: none !important;
    background-color: #e69636 !important;
}

.color-green {
    color: #1a4435;
}

/* TREE Hover and select */
/* .{
    #1a4435
} */

#tree {
    font-family: "MasterPortalFont", "Arial Narrow", Arial, sans-serif !important;
}

#Baselayer .selected {
    background-color: none;
}

.layer-item {
    color: inherit;
}

.layer-item.tabable.checked {
    color: inherit !important;
}

#tree .tabable:focus {
    border: none !important;
    outline: none !important;
}

#tree .tabable:focus-visible {
    border: none !important;
    outline: none !important;
}
/* .layer-item.tabable.checked:checked {
    border: none;
} */

ul#tree .checked:hover {
    background-color: inherit !important;
}

.layer-item.tabable i {
    color: inherit !important;
}

#tree .tabable:hover {
    background-color: inherit !important;
}

#tree .dropdown-item:hover {
    color: white !important;
}

#tree .dropdown-item:hover {
    background-color: #1a4435;
    color: white !important;
}

#tree .layer-dropdown-item:hover {
    background-color: inherit !important;
}

#tree .dropdown-item:hover .layer-info-item i {
    color: #e69636;
}

#tree .dropdown-item:hover .last-item i {
    color: #e69636;
}

#tree .dropdown-item:hover .x-icon i {
    color: white;
}

#tree ul li a {
    color: inherit !important;
}

.layer-item {
    color: inherit !important;
}

.layer-item.tabable {
    color: inherit !important;
}

/* Search */

#searchInputUL li:hover {
    background-color: #1a4435 !important;
    color: white !important;
}

#searchInputUL li:hover p span {
    color: white !important;
}

#searchInputUL .list-group-item.results {
    background-color: #e69636;
    color: white;
}

#searchInputUL .list-group-item.results:hover {
    background-color: #e69636 !important;
    color: white !important;
}

#searchInputUL .list-group-item.results div {
    text-align: center;
}

#searchInputUL .list-group-item.results .bootstrap-icon {
    display: none;
}

/* .form-group.form-group-sm .row {
    background-color: #fafafa;
}

.form-group.form-group-sm.row {
    background-color: #fafafa;
} */

